/* You can add global styles to this file, and also import other style files */
body 
{
    background-color: rgb(242, 245 ,247);
    font-family: Arial, Helvetica, sans-serif !important;  
    width: 100vw;
   
  }
  .row
  {
    margin: 0;
  }
  