<div class="topnav" id="myTopnav">
    <a href="#home" class="active">AB_TECH
        <img src="https://img.icons8.com/emoji/40/000000/desktop-computer.png"></a>
    <a>
        <div href="#profile">
            <img src="https://img.icons8.com/color/50/000000/circled-user-male-skin-type-7--v2.png" />
        </div>
    </a>
    <a>
        <div routerLink="/cart" style="font-size: 20px;" class="fas fa-cart-plus">
            <li style="font-size: 10px;" class="badge badge-danger">{{totalItem}}</li>
        </div>
    </a>
    <a>
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Type to Search...">
        </div>
    </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>