<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('laptop')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Laptops</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('computer')">
                <img src="https://img.icons8.com/external-photo3ideastudio-flat-photo3ideastudio/50/000000/external-computer-gadget-photo3ideastudio-flat-photo3ideastudio.png"/>
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt=""> -->
                <h6>Computers</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 62px; margin-top: 5px;"
                    src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50"
                    alt="">
                <h6>Jewllery</h6>
            </a>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-2">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> R{{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div> -->






<div class="shell">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="col-md-2 col-sm-12 px-4 mt-5">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="{{item.image}}" alt="Product" class="img-responsive"/>
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>view</span>
                        </div>
                        <div class="title-product">
                            <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h3>
                        </div>
                        <!-- <div class="description-prod">
                            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                        </div> -->
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">R{{item.price}}</span></div>
                            <div class="wcf-right"><a href="#" class="buy-btn"><i class="fas fa-shopping-basket" (click)=addtocart(item) ></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        </div>
    </div>
</div> 




<!-- <div class="shell">
    <div class="container" *ngFor="let item of filterCategory | filter:searchKey:'title'">
        <div class="row">
            <div class="col-md-3 col-sm-12 px-4 mt-5">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="{{item.image}}" alt="Product" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Ethnic</span>
                        </div>
                        <div class="title-product">
                            <h3>{{item.title}}</h3>
                        </div>
                        <div class="description-prod">
                            <p>{{item.description}}</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">R{{item.price}}</span></div>
                            <div class="wcf-right"><a href="#" class="buy-btn"><i (click)=addtocart(item) class="zmdi zmdi-shopping-basket"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->